@font-face {
  font-family: 'Cy Grotesk Grand';
  src:
    local('Cy Grotesk Grand'),
    url(/fonts/cy-grotesk-grand.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cy Grotesk';
  src:
    local('Cy Grotesk'),
    url(/fonts/cy-grotesk.otf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Beckman Heavy';
  src:
    local('Beckman Heavy'),
    url(/fonts/beckman-heavy.otf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Beckman';
  src:
    local('Beckman'),
    url(/fonts/beckman.otf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src:
    local('TT Commons'),
    url(/fonts/TT-Commons-Regular.otf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url(/fonts/roboto-regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
