@import url('./theme/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
}

body {
  &.noScroll {
    overflow: hidden;
    transform: translateX(-2px);
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.lightest-primary');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.custom-grey');
  border: 3px solid theme('colors.primary');
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: theme('colors.primary');
}
